.blog {
	h4 {
		font-size: 22px;
		color: #47484a;
		text-transform: none;
	}

	.blogSection {
		margin-top: -90px;
	}
}
.testimonials {
	padding: 50px 0 0;
}
.testimonialsSlug {
	margin: 150px auto -150px;
}
.articles_wrapper {
	margin-top: 30px;
	display: grid;
	grid-template-areas: "main aside";
	grid-template-columns: 1fr 0fr;
	gap: 30px;

	.articles {
		grid-area: main;
	}

	.aside_content {
		grid-area: aside;
		width: 340px;

		> div {
			height: 100%;
			position: relative;

			.subcontent {
				display: flex;
				flex-direction: column;
				gap: 30px;
				position: sticky;
			}

			.subscribe {
				background: #436ae5;
				border-radius: 25px;
				padding: 50px 30px;

				img {
					margin-bottom: 30px;
					width: 80px;
					height: 80px;
				}

				h4 {
					margin-bottom: 10px;
					color: #fff;
				}

				p {
					color: #fff;
					font-weight: 500;
					margin-bottom: 30px;
				}

				button {
					width: 100%;
					transition: 0.3s;

					&:hover {
						background: #fff;
						border: 1px solid #fff;
						color: #616161;
						transition: 0.3s;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.blog {
		.blogSection {
			margin-top: 0;
		}
	}
	.testimonials {
		padding: 50px 20px 0;
	}
	.testimonialsSlug {
        padding: 0  0 0 20px;
		margin: 380px auto -250px;
	}
	.articles_wrapper {
		display: flex;
		flex-direction: column;

		.aside_content {
			width: 100%;

			> div {
				.subscribe {
					padding: 50 25px;
				}
			}
		}
	}

	.search_bar {
		> div {
			button {
				display: flex;
				border-radius: 25px;
			}
		}
	}
}
