.pagination {
	display: flex;
	justify-content: center;
	gap: 10px;

	.pageItem {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 40px;
		border: 1px solid #c0c7cc;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
		background: #fff;

		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 0;
			user-select: none;
		}

		&.active {
			background: #436ae5;
			border: 1px solid #436ae5;
			p {
				color: #fff;
			}
		}

		&:hover {
			p {
				text-decoration: underline;
			}
		}
	}
}
