.blog {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	width: 1320px;
	height: 435px;
	background-color: #f1f4ff;
	border-radius: 25px;
	margin-top: 90px;

	.image {
		height: 400px;
	}

	.textBlog {
		width: 900px;
		display: flex;
		flex-direction: column;
		margin-right: 25px;

		h2 {
			font-size: 28px;
			font-weight: 700;
			line-height: 39px;
			letter-spacing: 0em;
			margin-bottom: 30px;
		}

		h4 {
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			color: #616161;
		}
	}
}

@media only screen and (max-width: 768px) {
	.blog {
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;
		margin-top: 0;
		padding: 25px;

		.image {
			padding: 35px;
		}
		.textBlog {
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 25px;
			margin-right: 0;

			h2 {
				margin-bottom: 30px;
				width: 300px;
				text-align: center;
				margin-top: 40px;
			}

			h4 {
				margin-left: 19px;
				margin-right: 19px;
				text-align: center;
				margin-bottom: 0;
			}

			button {
				height: 60px;
				background-color: #436ae5;
				border: none;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 19px;
				border-radius: 10px;
				margin-top: 30px;
				width: 70%;
			}
		}
	}
}
