.phoneWrapper {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 10;
	width: 95px;
	height: 95px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(245, 141, 29, 0.349);
	border-radius: 20px;
	animation: radial-pulse 1s infinite;
	border: none;
	& svg {
		width: 75px;
		height: 75px;
	}

	@media (max-width: 768px) {
		right: 10px;
		bottom: 25px;
		width: 65px;
		height: 65px;
		& svg {
			width: 45px;
			height: 45px;
		}
	}
}

@keyframes radial-pulse {
	0% {
		box-shadow: 0 0 0 0px rgb(245 141 29 / 50%);
	}

	100% {
		box-shadow: 0 0 0 10px rgb(245 141 29 / 0%);
	}
}

.mobile {
	display: none;
	@media (max-width: 768px) {
		display: flex;
	}
}

.desktop {
	@media (max-width: 768px) {
		display: none;
	}
}
