.section {
	margin-top: 140px;
	padding: 140px 0;
	background-image: url("../../../../public/images/services/calculatorInfo-bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.container {
		margin-top: 0;

		> div {
			max-width: 650px;

			h2,
			p {
				color: #fff;
			}

			h4 {
				margin-bottom: 20px;
			}

			h2 {
				margin-bottom: 30px;

				span {
					position: relative;
					z-index: 2;

					&::before {
						position: absolute;
						right: -4%;
						bottom: -70%;
						width: 105%;
						height: 105%;
						z-index: -1;
						content: "";
						background-image: url("../../../../public/images/mainPage/present/bg-image.svg");
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
			}

			p {
				margin-bottom: 50px;
			}

			.buttons {
				display: flex;
				gap: 30px;
			}
		}
	}
}
.subtitle {
	font-size: 54px;
	font-weight: 700;
	line-height: 67.5px;
}
.title {
	font-size: 18px;
	font-weight: 700;
	line-height: 23.4px;
	color: #f58d1d;
	margin-bottom: 20px !important;
	text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
	.subtitle {
		font-size: 28px !important;
		line-height: 33.6px !important;
		margin-top: 10px !important;
	}
	.title {
		font-size: 10px;
		line-height: 12px;
	}
	.section {
		margin-top: 50px;
		padding: 50px 0 295px 0;
		background-image: url("../../../../public/images/services/calculatorInfoMobile-bg.webp");
		background-position: bottom;

		.container {
			> div {
				h4 {
					margin-bottom: 10px;
				}

				h2 {
					margin-bottom: 12px;
				}

				p {
					margin-bottom: 30px;
				}

				.buttons {
					flex-direction: row-reverse;
					gap: 15px;

					button,
					a {
						height: 45px;
						width: 100%;
						padding: 0;
						font-weight: 700;
						font-size: 14px !important;
					}
				}
			}
		}
	}
}
