.container {
	display: flex;
	align-items: center;
	gap: 70px;

	.image_container {
		height: 730px;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		border-radius: 25px;

		.image {
			transform: translateX(-10%);
			width: auto;
			height: 100%;
		}
	}

	>div {
		width: 100%;
	}
}


.text {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h4 {
		margin-top: 80px;
	}

	h2 {
		color: #fff;
		margin-top: 20px;
		white-space: pre-line;

		span {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				background-image: url('../../../../public/images/mainPage/about-underline.svg');
				width: 95%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: bottom;
				background-size: contain;
				z-index: -1;
			}
		}
	}
}

.description {
	margin-top: 20px;
	margin-bottom: 60px;

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 30px;
		color: #fff;
	}

	button {
		background-color: #fff;
		color: #436ae5;
		border: none;
	}
}

.section_background {
	z-index: -2;
	position: absolute;
	background-color: var(--primary-color);
	width: 100vw;
	margin-left: -275px;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	border-radius: 25px 0 0 25px;
}
.preTitle {
	margin-top: 80px;
	font-size: 18px;
	font-weight: 700;
	color: #f58d1d;
	text-transform: uppercase;
	display: block;
}
@media only screen and (max-width: 768px) {
    .preTitle {
		font-size: 10px;
		line-height: 12px;
	}
	.container {
		flex-direction: column-reverse;
		align-items: center;
		gap: 0;
		margin-top: 80px;
		background: #436ae5;
		margin-bottom: 210px;
		margin-top: 0px;

		.text {
			padding-bottom: 270px;

			>h2 {
				width: 100%;

				br {
					display: none;
				}
			}

			.points {
				gap: 25px;

				>div {
					gap: 12px;

					p {
						font-weight: 400;
					}

					img {
						width: 25px;
						height: 25px;
					}
				}
			}
		}

		>.image_container {
			position: absolute;
			bottom: -130px;
			width: 90vw;
			height: 385px;
			margin-top: 0;
			padding-top: 0;

			>img {
				object-fit: cover;
			}
		}
	}

	.section_background {
		display: none;
	}
}