.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		max-width: 700px;
		white-space: pre-line;

		span {
			position: relative;
			z-index: 1;

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../../../../public/images/about/mission-bg.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom;
				z-index: -1;
			}
		}
	}

	.grid {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;

		> div {
			padding: 60px 45px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			border-radius: 25px;
			background: var(--primary-color);

			.h3 {
				margin-bottom: 20px;
				display: block;
				font-size: 28px;
				font-weight: 700;
			}

			p,
			.h3 {
				text-align: left;
				color: #fff;
			}

			img {
				margin-bottom: 25px;
				margin-left: -10px;
				max-width: 200px;
				height: auto;
			}

			&:nth-child(2) {
				grid-area: 1 / 2 / 1 / span 2;
			}
		}
	}

	.gridMobile {
		display: none;
	}
}
.preTitle {
	margin-bottom: 20px;
	font-size: calc(18px / 0.9);
	line-height: calc(23.4px / 0.9);
	font-weight: 700;
	color: #f58d1d;
	text-transform: uppercase;
	display: block;
}
@media only screen and (max-width: 1440px) {
	.preTitle {
		font-size: calc(18px / 0.8);
		line-height: calc(23.4px / 0.8);
	}
}
@media screen and (max-width: 768px) {
	.preTitle {
		font-size: 10px;
		line-height: 12px;
	}
	.container {
		text-align: left;

		h2 {
			max-width: 100%;
			span {
				&:before {
					display: none;
				}
			}

			br {
				display: none;
			}
		}

		.grid {
			display: none;
		}

		.gridMobile {
			display: unset;
			margin-top: 50px;
			width: 100%;

			.h3,
			p {
				color: #fff;
			}

			.h3 {
                font-size: 29px;
				margin-bottom: 10px;
			}

			.slide {
				padding: 40px 25px;
				background: var(--primary-color);
				border-radius: 25px;
				height: auto;
				img {
					margin-bottom: 15px;
					max-width: 150px;
					height: auto;
				}
			}

			> div {
				overflow: visible;
			}

			.buttons {
				display: inherit;
				align-self: flex-end;
				justify-content: center;
				margin-bottom: 0;
				display: flex;
				margin-top: 25px;
				gap: 20px;

				> div {
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 60px;
					height: 60px;
					background-color: #f1f4ff;
					border-radius: 10px;
					transition: 0.3s;

					> img {
						position: absolute;
						width: 15px;
					}

					&:nth-child(1) {
						&:hover {
							background-color: var(--primary-color);
							transform: translateY(-2px);

							> img {
								filter: brightness(100);
							}
						}
					}

					&:nth-child(2) {
						background-color: var(--primary-color);

						> img {
							filter: brightness(100);
							transform: rotate(180deg);
						}

						&:hover {
							background-color: #f1f4ff;
							transform: translateY(-2px);

							> img {
								filter: brightness(0);
							}
						}
					}
				}
			}
		}
	}
}
