.section {
	background: #f1f4ff;
	padding: 140px 0;
	margin-top: 140px;
}

.container {
	margin-top: 0;
}

.employee {
	display: flex;
	gap: 60px;

	.image {
		border-radius: 25px;
		min-width: 640px;
		max-width: 640px;
		position: relative;
		overflow: hidden;

		img {
			object-fit: cover;
			object-position: center;
		}
	}

	.information {
		h2 {
			margin-bottom: 30px;
			font-size: 40px;

			background-image: url("../../../../public/images/about/teamMembers/title-decoration.svg");
			background-repeat: no-repeat;
			background-position: bottom left;
		}

		.socials {
			display: flex;
			gap: 12px;
			margin-top: 30px;

			img {
				height: 38px;
				width: 38px;
				cursor: pointer;
			}
		}
	}
}

.employeeQuote {
	margin-top: 130px;
	display: flex;
	gap: 65px;

	.innerText {
		position: relative;
		padding-left: 80px;
	}

	.text {
		z-index: 2;
		position: relative;

		h2 {
			font-size: 28px;
		}
	}

	h2,
	.quote {
		z-index: 2;
	}

	.background {
		z-index: -1;
		position: absolute;
		top: -65px;
		left: 0;
		right: -275px;
		bottom: -65px;
		background: #fff;
		border-radius: 25px;
	}

	.quote {
		margin-top: 30px;
		display: flex;
		gap: 30px;
	}

	.image {
		min-height: 460px;
		z-index: 2;
		overflow: hidden;
		border-radius: 25px;
		position: relative;
		min-width: 620px;
		max-height: 620px;

		img {
			object-fit: cover;
			object-position: top;
		}
	}
}

.stats {
	margin-top: 65px;

	display: flex;
	gap: 35px;
}

.card {
	width: 100%;
	border-radius: 25px;
	background: #fff;
	padding: 70px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 40px;

	.h3 {
		font-weight: 700;
		font-size: 72px;
		color: #436ae5;
		display: block;

		b {
			color: #f58d1d;
			font-weight: 600;
		}
	}

	> span {
		display: block;
		font-weight: 700;
		font-size: 28px;
	}
}

.employeeMobile {
	display: none;
}
.preTitle {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	color: #f58d1d;
	text-transform: uppercase;
	display: block;
}

@media only screen and (max-width: 768px) {
	.employee {
		display: none;
	}

	.section {
		margin-top: 30px;
		padding: 50px 0;
	}

	.employeeMobile {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.title {
			display: flex;
			gap: 15px;

			.image {
				overflow: hidden;
				border-radius: 10px;
				position: relative;
				min-height: 100%;
				width: 70px;
			}
		}

		p {
			font-size: 14px !important;
		}
	}

	.employeeQuote {
		margin-top: 50px;
		flex-direction: column;
		gap: 0;

		.innerText {
			padding: 25px 20px 110px 20px;
			background: #fff;
			border-radius: 25px;
		}

		.text {
			h2 {
				font-size: 16px;

				br {
					display: none;
				}
			}
		}

		.quote {
			img {
				display: none;
			}

			p {
				font-size: 14px !important;
			}
		}

		.image {
			margin: 0 auto;
			margin-top: -80px;
			min-width: 85%;
			max-width: 85%;
			min-height: 160px;
			max-height: 160px;
		}

		.background {
			display: none;
		}
	}

	.stats {
		flex-direction: column;
		margin-top: 60px;
		gap: 15px;
	}

	.card {
		padding: 20px;
		gap: 10px;

		> span {
			font-size: 16px;
		}

		.h3 {
			font-size: 28px;
		}

		p {
			font-size: 14px !important;
		}
	}

	.preTitle {
		margin-bottom: 0;
		color: #f58d1d;
		font-size: 10px;
		line-height: 12px;
	}
}
