.hero {
	position: relative;
	height: 95vh;
}
.background {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	background: linear-gradient(
		90deg,
		rgb(0, 4, 38) 0%,
		rgb(85, 114, 211) 0%,
		rgb(84, 97, 159) 100%
	);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	height: 100%;
	text-align: center;
}
@media (min-width: 769px) {
	.container {
		justify-content: center;
	}
}
.container > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (min-width: 769px) {
	.container > div {
		margin-top: -80px;
	}
}
.container > div > button {
	display: none;
}
.container h1 {
	font-size: 50px;
	line-height: normal;
	color: #fff;
	z-index: 1;
}
.container h1 span {
	position: relative;
	overflow: visible;
}
// .container h1 span::before {
// 	position: absolute;
// 	content: "";
// 	top: 0;
// 	left: -10%;
// 	bottom: 0;
// 	right: 0;
// 	width: 120%;
// 	height: 120%;
// 	z-index: -1;
// 	background: url("../../../../../public/images/mainPage/first/bg-image.svg");
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: contain;
// }
.container h4 {
	margin-bottom: 10px;
}
@media (min-width: 769px) {
	.form {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: var(--max-width);
		margin: -330px auto 0;
		margin-top: 100px;
	}
	.inHero {
		margin-top: 75px;
		margin-bottom: -200px;
	}
}

@media (max-width: 768px) {
	.inHero {
		margin-top: 75px;
		margin-bottom: -480px;
	}
}

.form form {
	border-radius: 25px;
	background: #f1f4ff;
	width: 100%;
	padding: 60px 50px;
	gap: 40px 30px;
	display: flex;
	flex-direction: column;
}
.form form > h2 {
	font-size: 28px;
	text-align: center;
}
@media (max-width: 768px) {
	.form form > h2 {
		font-size: 16px;
		font-weight: 700;
		line-height: 120%;
	}
}
.form form > div {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	height: min-content;
}
.form form > div:nth-child(3) {
	justify-content: flex-start;
}
.form form > div > div {
	width: 100%;
}
@media (min-width: 769px) {
	.form form > div > div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.form form > div > div > input {
	padding: 20px;
	width: 100%;
	margin-top: 15px;
}
@media (max-width: 768px) {
	.form form > div > div > input {
		margin-top: 8px;
	}
}
.form form > div > div.address > div {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding-left: 15px;
	margin-top: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.3s;
}
.form form > div > div.address > div:has(input:focus) {
	border: 1px solid #436ae5;
}
.form form > div > div.address > div input {
	width: 100%;
	padding-left: 12px;
}
.form form > div > div.address > div input:focus {
	border: 1px solid #fff;
}
@media (max-width: 768px) {
	.form form > div > div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.form form > div > div > label {
		font-size: 12px;
		font-weight: 700;
		line-height: normal;
		color: #272727;
	}
}
@media (max-width: 768px) {
	.form form > div {
		flex-direction: column;
	}
}
.form form .buttons {
	width: 100%;
}

.form form button {
	width: 100%;
}

@media (max-width: 768px) {
	.form form .buttons {
		flex-direction: column;
		gap: 10px;
	}
	.form form .buttons button {
		display: flex;
		height: 45px;
		font-size: 14px;
		font-weight: 700;
		line-height: 150%;
		margin-top: 0;
	}
}
@media (max-width: 768px) {
	.form form {
		gap: 30px;
		width: 100%;
		padding: 40px 20px 30px;
	}
}
.points {
	margin-top: 60px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.points .point {
	display: flex;
	gap: 10px;
}
.points .point p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
}
.cta {
	margin-top: 60px;
	text-align-last: left;
	position: relative;
	display: flex;
	gap: 20px;
}
.cta button {
	font-size: 20px;
}
.cta .arrow {
	position: absolute;
	top: 135%;
	left: -10%;
}
.cta .gift {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px 30px;
	border-radius: 10px;
	border-top: 2px solid #f58d1d;
	border-right: 2px solid #f58d1d;
	border-bottom: 2px solid #f58d1d;
	border-left: 6px solid #f58d1d;
	background: #fff;
}
.cta .gift .giftImage {
	width: 40px;
	height: 46px;
}
.cta .gift p {
	color: #616161;
	font-size: 20px;
	line-height: 25px;
}
.cards {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 40px;
	bottom: -130px;
}
.cards .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
	border-radius: 25px;
	padding: 50px 40px;
	background: #f1f4ff;
}
.cards .card h3 {
	font-size: 24px;
}
.cards .card p {
	max-width: 250px;
}
.textMobile {
	display: none;
}
@media only screen and (max-width: 375px) {
	.textMobile {
		font-size: 28px !important;
		white-space: none;
	}
}
@media only screen and (max-width: 768px) {
	.background {
		object-fit: cover;
	}
	.hero {
		margin-bottom: 0;
	}
	.dnonemobile br {
		display: none;
	}
	.hero {
		height: auto;
	}
	.container {
		padding-top: 147px !important;
	}
	.container h4 {
		font-size: 10px;
		margin-bottom: 8px;
	}
	.container h1 {
		font-size: 28px;
		max-width: 330px;
	}
	.container div > button {
		display: none;
		margin-top: 45px;
	}
	.form {
		display: block;
		position: relative;
		margin-top: 50px;
		padding: 0 20px;
	}
	.points {
		flex-direction: column;
		gap: 15px;
		margin-top: 40px;
	}
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
	.points {
		padding-left: 14px;
	}
}
@media only screen and (max-width: 768px) {
	.points .point {
		align-items: center;
	}
	.points .point p {
		font-size: 12px !important;
	}
	.points .point img {
		width: 20px;
		height: 20px;
	}
	.arrow {
		display: block;
	}
	.arrow.dnonemobile {
		display: none;
	}
	.cta {
		flex-direction: column-reverse;
		padding: 0 30px 0 0;
		margin-top: 40px;
	}
	.cta .gift {
		padding: 6px 20px 5px 25px;
	}
	.cta .gift p {
		font-size: 15px !important;
		text-align: left;
		line-height: 145%;
	}
	.cta .arrow {
		top: 60px;
		left: auto;
		right: -35px;
	}
	.cards {
		padding: 0 20px;
		bottom: -745px;
		flex-direction: column;
		gap: 20px;
	}
	.cards .card {
		padding: 40px 40px;
	}
	.cards .card h3 {
		font-size: 16px;
	}
	.cards .card p {
		font-size: 16px;
		margin-top: -15px;
		line-height: 165%;
	}
}
