.section {
	margin-top: 140px;
	background: #436ae5;
	padding: 140px 0;

	> div {
		margin-top: 0;
		display: flex;
		flex-direction: column;

		width: 100%;

		display: flex;
		flex-direction: column;

		.title {
			display: flex;
			justify-content: space-between;

			h2 {
				color: #fff;
				font-size: 40px;
			}

			.buttons {
				align-self: flex-end;
				display: flex;
				gap: 30px;
			}
		}

		.description {
			margin-top: 45px;
			p {
				color: #fff;
				font-weight: 500;
			}
		}

		.grid {
			margin-top: 60px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;

			> div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				background: #fff;
				border-radius: 25px;
				padding: 40px 40px;

				p {
					@media (min-width: 769px) {
						width: 200px;
					}
					font-size: 22px;
					line-height: 140%;
				}

				.text {
					font-size: 60px;
					font-weight: 700;

					b {
						color: #f58d1d;
						font-weight: 600;
					}
				}
			}
		}

		.theyWriteAboutUs {
			margin-top: 30px;
			background: #fff;
			padding: 70px 66px;
			border-radius: 25px;

			display: flex;
			justify-content: space-between;

			.aboutText {
				font-size: 30px;
				font-weight: 700;
				color: #272727;
				line-height: 37.5px;
			}

			@media (max-width: 768px) {
				padding: 30px;
				gap: 25px;
				flex-direction: column;

				br {
					display: none;
				}

				h3 {
					text-align: center;
					font-size: 18px;
				}
			}

			.logos {
				width: 75%;
				display: grid;
				grid-template-columns: 1fr 1.2fr;
				gap: 40px;

				@media (max-width: 768px) {
					width: 100%;
					gap: 0px;
					grid-template-columns: 1fr;
					justify-content: center;
				}

				img {
					object-fit: contain;
					width: 100%;

					@media (max-width: 768px) {
						&:nth-child(1) {
							width: 80%;
							margin: 0 auto;
						}
					}
				}
			}
		}

		.whyUs {
			margin-top: 140px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 100px;
		}

		.whyUsPreview {
			position: relative;
			overflow: hidden;
			max-width: 620px;
			width: 100%;
			height: 400px;
			border-radius: 25px;

			> video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.whyUsText {
			display: flex;
			flex-direction: column;
			gap: 20px;
			max-width: 560px;

			h2,
			p {
				color: #fff;
			}

			h2 {
				font-size: 40px;
			}

			.title {
				font-weight: 700;
				color: var(--secondary-color);
				text-transform: uppercase;
			}
		}

		.descriptionMobile {
			display: none;
		}
	}
}

@media (min-width: 769px) {
	.buttons_mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.buttons_desktop {
		display: none !important;
	}

	.section {
		margin-top: 0;
		padding: 48px 0;

		> div {
			.title {
				flex-direction: column;
				gap: 30px;

				h2 {
					font-size: 29px;
					line-height: 1.2;
					letter-spacing: -0.15px;

					br {
						display: none;
					}
				}
			}

			.buttons {
				display: flex;
				gap: 10px;

				width: 100%;

				margin-top: 25px;

				button {
					white-space: nowrap;
					font-size: 14px;

					height: 45px;
				}

				a {
					width: 134px;
				}
			}

			.description {
				margin-top: 12px;

				p {
					font-size: 14px !important;
					line-height: 1.5;
				}
			}

			.grid {
				gap: 10px;
				grid-template-columns: 1fr 1fr;
				margin-top: 50px;

				> div {
					justify-content: flex-start;

					gap: 11px;

					padding: 30px 15px 30px;

					.text {
						font-size: 28px;
					}

					p {
						font-size: 14px !important;
						line-height: 1.5;
					}
				}
			}

			.trustpilot {
				padding: 20px 10px;
				margin-top: 10px;
			}

			.whyUs {
				margin-top: 50px;
				display: flex;
				flex-direction: column-reverse;
				gap: 20px;
			}

			.whyUsPreview {
				height: 206px;
				> video {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.whyUsText {
				display: flex;
				flex-direction: column;
				gap: 8px;
				max-width: 560px;

				p {
					display: none;
				}

				h2 {
					font-size: 28px;
				}

				h4 {
					font-size: 10px;
				}
			}

			.descriptionMobile {
				display: block;
				color: #fff;

				font-size: 14px !important;
				line-height: 1.5;
			}
		}
	}
}
