.extra_wrapper {
	background: #fff;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	border-radius: 25px;
	padding-top: 25px;
}

.container {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	overflow-y: auto;
	margin-top: 0;
	position: relative;
}

.navigation {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100px;
	background: transparent;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	align-items: flex-end;
}

.container h2 {
	font-weight: 700;
	font-size: 50px;
	line-height: 40px;
	text-align: center;
	margin-top: 60px;
}
.container > p {
	margin-top: 35px;
	font-weight: 400;
	font-size: 18px;
	color: #616161;
	line-height: 20px;
}
.container form {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-top: 45px;
}
.container form > div > p {
	font-weight: 500;
	font-size: 15px;
}
.container form > div .dropdown {
	position: absolute;
	background-color: #f1f4ff;
	opacity: 0;
	height: 0;
	pointer-events: none;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	border-radius: 25px 0 25px 25px;
	gap: 10px;
	overflow-y: scroll;
	z-index: 1;
}
.container form > div .dropdown.opened {
	transition: 0.5s;
	height: 200px;
	opacity: 1;
	pointer-events: all;
}
.container form > div .dropdown > div {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	padding: 10px 10px;
}
.container form > div .dropdown > div:hover {
	background-color: #e2e8ff;
}
.container form > div > .input {
	position: relative;
	border: 1px solid rgba(58, 59, 65, 0.2509803922);
	padding: 0 20px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	width: auto;
	max-width: 330px;
	min-width: 200px;
	margin-top: 10px;
}
.container form > div > .input label {
	pointer-events: none;
	font-style: normal;
	opacity: 0.5;
	position: absolute;
	left: 20px;
	top: 22px;
	transition: 0.3s;
}
.container form > div > .input label.labelMobile {
	display: none;
}
.container form > div > .input input {
	padding: 0;
	z-index: 1;
	font-size: 16px;
	border-radius: 0 !important;
	border: 0;
	width: 100%;
	height: 65px;
	background-color: rgba(0, 0, 0, 0);
	padding-bottom: 0px;
	padding-left: 20px;
}
.container form > div > .input input:focus,
.container form > div > .input input:not(:placeholder-shown),
.container form > div > .input input:focus-within {
	outline: none;
	border: 0;
}
.container form > div > .input input:focus ~ label,
.container form > div > .input input:not(:placeholder-shown) ~ label,
.container form > div > .input input:focus-within ~ label {
	font-size: 15px;
	top: 10px;
	transition: 0.3s;
}
.container .mapContainerMobile {
	display: none;
}
.container .mapContainer {
	position: relative;
	width: 100%;
	height: 440px;
	display: flex;
	align-items: center;
	border-radius: 0 0 25px 25px;
	margin-top: 35px;
}
.container .mapContainer > div {
	z-index: 0;
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 440px;
	border-radius: 0 0 25px 25px;
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
	.container {
		padding-bottom: 0;
		overflow-y: unset;
	}
	.container h2 {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		padding: 0 20px;
		margin-top: 10px;
	}
	.container p {
		margin-top: 25px;
		font-size: 14px !important;
		line-height: 24px;
		text-align: center;
		padding: 0 20px;
	}
	.container form {
		flex-direction: column;
		gap: 0px;
		padding: 0 20px;
		margin-top: 0px;
		margin-bottom: 15px;
		width: 100%;
	}
	.container form > div > p {
		text-align: left;
		padding: 0;
	}
	.container form > div > .input input {
		padding-left: 15px;
	}
	.container form > div > .input input.datetime {
		padding-left: 0;
	}
	.container .mapContainerMobile {
		position: relative;
		width: 100%;
		height: 250px;
		display: none;
		align-items: center;
		margin-top: 35px;
	}
	.container .mapContainerMobile > div {
		z-index: 0;
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 250px;
	}
	.container .mapContainer {
		display: none;
	}
	.navigation {
		position: sticky;
		bottom: 0px;
		width: 100%;
		gap: 10px;
		padding: 0px;
		padding: 15px 20px 35px 20px;
	}

	.container form > div > .input {
		max-width: unset;
	}
}

@media (max-width: 435px) {
	.container form > div > .input {
		max-height: 50px;
		border-radius: 10px;
	}
}
