.goods {
	max-width: 1200px;
	// max-height: 800px;
	width: 100%;
	// height: 100%;
	gap: 50px;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	padding-top: 25px;
	padding-bottom: 100px;
	background: #fff;
	border-radius: 25px;
	position: relative;

	&_wrapper {
		display: flex;
		flex-direction: column;
		gap: 80px;
		width: 100%;
		height: 100%;
		max-width: 1080px;
		margin: 0px auto;
		padding-left: 20px;
		padding-right: 20px;
		max-height: 600px;
		padding-bottom: 150px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 10px;
			margin-right: 15px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f4ff;
			border-radius: 25px;
		}
		&::-webkit-scrollbar-thumb {
			background: #436ae5;
			border-radius: 25px;
		}
	}

	&_header {
		display: flex;
		width: 100%;
		align-items: flex-start;
		flex-flow: row wrap;
		row-gap: 20px;
		justify-content: space-between;

		&_search {
			display: flex;
			align-items: center;
			gap: 25px;

			& form {
				display: flex;
				flex-direction: column;
				gap: 15px;

				& input {
					border: 1px solid #dedfe0;
					width: 400px;
					border-right: none;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}
	}
	&_body {
		display: flex;
		flex-direction: column;
		gap: 65px;
	}
}

.goods_list {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&_content {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
		row-gap: 20px;
	}

	&_wrapper {
		display: flex;
		gap: 20px;
		align-items: flex-end;
	}

	&_icon {
		font-family: var(--font-tttravels);
		font-size: 48px;
		font-weight: 500;
		line-height: 60px;
		letter-spacing: 0em;
	}
	&_title {
		font-family: var(--font-tttravels);
		font-size: 28px;
		font-weight: 700;
		line-height: 35px;
		letter-spacing: 0em;
	}
}

.element_wrapper {
	display: flex;
	gap: 15px;
	padding: 10px 20px 10px 15px;
	border-radius: 15px;
	align-items: center;
	border: 1px solid #e6e6e6;
	cursor: pointer;
	transition: background-color 0.3s ease-out;
	&:hover {
		border-color: transparent;
		background-color: #eaeeff;
	}
}

.item_name {
	color: #fff !important;
}

.element_image {
	display: block;
	cursor: pointer;
}

.element_counter {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	height: 100%;
	& button {
		border: none;
		background-color: transparent;
	}
}

.active {
	background-color: #436ae5;
	border-color: transparent;
	padding: 5px;
	padding-right: 20px;
	&:hover {
		background: #436ae5;
		border-color: transparent;
	}
}

.scrool_wrapper {
	width: 100%;
	max-width: 1200px;
	max-height: 600px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 10px;
		margin-right: 15px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f4ff;
		border-radius: 25px;
	}
	&::-webkit-scrollbar-thumb {
		background: #436ae5;
		border-radius: 25px;
	}
}

.finded_items {
	width: 100%;
	height: max-content;
	max-height: 200px;
	overflow-y: auto;
	max-width: 490px;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	padding: 10px 10px;
	&::-webkit-scrollbar {
		width: 10px;
		margin-right: 15px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f4ff;
		border-radius: 25px;
	}
	&::-webkit-scrollbar-thumb {
		background: #436ae5;
		border-radius: 25px;
	}
}

.hide {
	display: none;
}

.no_border {
	border: none;
}

.search_icon {
	padding: 0px 30px;
	padding-left: 45px;
	margin-left: -20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	height: 61px;
	border: 1px solid #dedfe0;
	border-left: none;
}

.text_mobile {
	display: none;
}

.red {
	background: red;
}

.goods_header_search {
	& form {
		& label {
			position: relative;
			&::after {
				content: " ";
				position: absolute;
				z-index: 1;
				top: 0px;
				left: -80px;
				background-image: url("../../../../../public/images/calculator/calculator_search_arrow.svg");
				height: 100px;
				width: 60px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}
}

@media (max-width: 768px) {
	.img {
		display: none;
	}
	.goods_wrapper {
		gap: 30px;
	}
	.goods_header_search {
		& form {
			& label {
				&::after {
					display: none;
				}
			}
		}
	}
}

.pageTitle {
	white-space: pre-line;
}

@media (max-width: 768px) {
	.active {
		flex-flow: row-reverse;
		padding: 3px;
		padding-left: 15px;
		justify-content: space-between;
	}
	.element_wrapper {
		width: 100%;
	}
	.goods {
		max-height: unset;
		padding-bottom: 0px;
		gap: 30px;
		&_wrapper {
			padding-bottom: 0px;
			max-height: unset;
			overflow-y: unset;
			&::-webkit-scrollbar {
				display: none;
			}

			&::-webkit-scrollbar-track {
				background: #f1f4ff;
				border-radius: 25px;
			}
			&::-webkit-scrollbar-thumb {
				background: #436ae5;
				border-radius: 25px;
			}
		}
		&_header {
			display: block;
			&_search {
				& form {
					width: 100%;
					margin-top: 30px;
					& label {
						font-size: 12px !important;
					}
					& input {
						border: 1px solid #dedfe0;
						width: 100%;
						border-right: none;
						height: 50px;
					}
				}
			}
		}
	}
	.pageTitle {
		white-space: normal;
	}
	.search_icon {
		height: 50px;
	}
	.goods_list {
		gap: 20px;
		&_content {
			gap: 10px;
		}
		&_icon {
			width: 24px;
			height: 24px;
		}
		&_wrapper {
			align-items: flex-start;
			gap: 5px;
			& p {
				font-size: 18px !important;
			}
			& span {
				font-size: 24px !important;
			}
		}
	}
}
