.section {
	background-color: #305ed0;
}

.container {
	margin-top: 0;
	padding-top: 0px;
	padding-bottom: 75px;
}

.content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;

	form {
		max-width: 750px;
		border-radius: 25px;
		background: #f1f4ff;
		width: 100%;
		padding: 68px 50px 40px 50px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		.fields {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	.contacts {
		display: flex;
		flex-direction: column;
		gap: 45px;
		> div:first-child {
			padding-bottom: 40px;
			border-bottom: 1px solid #f1f4ff;
		}
	}
}

@media only screen and (max-width: 768px) {
	.container {
		padding-top: 150px;
	}

	.content {
		margin-bottom: 0;
		flex-direction: column;
		width: 100%;

		form {
			padding: 40px 20px 30px 20px;

			.fields {
				flex-direction: column;
				gap: 40px;
			}
		}
	}
}
