.container {
	max-width: 100%;

	margin-left: 0;
	margin-right: 0;
	padding: 0;

	.mapSettingsMobile {
		display: none;
	}
}

.title {
	max-width: 1368px;
	padding: 0 24px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 60px;

		h2 {
			margin-top: 15px;

			span {
				position: relative;

				&::before {
					position: absolute;
					right: -2%;
					bottom: -63%;
					width: 103%;
					height: 103%;
					content: '';
					background-image: url('../../../../public/images/mainPage/serviceMap/bg-image.svg');
					background-size: contain;
					background-repeat: no-repeat;
					z-index: -1;
				}
			}
		}

		p {
			margin-top: 20px;
			max-width: 600px;
		}
	}
}

.mapContainer {
	margin-top: 50px;
	position: relative;
	width: 100vw;
	height: 760px;
	display: flex;
	align-items: center;
	overflow: hidden;

	.leafletMap {
		z-index: 0;
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 760px;
	}

	.mapSettings {
		width: 600px;
		height: 696px;
		z-index: 3;
		position: relative;
		margin-left: 70px;
		padding: 45px 55px 0 0px;

		background: #ffffff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
		border-radius: 25px;

		.warehousesWrapper {
			> h3 {
				font-weight: 700;
				font-size: 26px;
				padding-left: 55px;
			}

			.warehouses {
				display: flex;
				flex-direction: column;
				overflow-y: scroll;
				height: 595px;
				margin-top: 20px;
				padding: 15px 15px 30px 45px;
				gap: 15px;

				.warehouse {
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					width: 100%;
					padding: 27px 30px 27px 20px;
					border: 1px solid #e6e6e6;
					outline: 1px solid transparent;
					transition: 0.3s;

					background: #ffffff;
					cursor: pointer;
					border-radius: 25px;

					&:hover {
						border: 1px solid #436ae560;
						transition: 0.3s;
					}

					&.picked {
						outline: 1px solid #436ae5;
						border: 1px solid #436ae5;
						box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
					}

					.border {
						margin-top: 30px;
						border: 1px solid #e6e6e6;
					}
					.googleTransition {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 40px;
						padding: 0 10px;
						margin-top: 20px;

						a {
							color: #436ae5;
							font-size: 18px;
							font-weight: 600;
							line-height: 30px;
							display: flex;
							align-items: center;
							gap: 40px;
						}
					}

					> div {
						display: flex;
						justify-content: space-between;
						gap: 20px;

						.img {
							height: 50px;
							width: 50px;
						}

						.info {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							gap: 15px;

							> h3 {
								font-size: 20px;
							}

							> p {
								line-height: 20px;
								color: #616161;
							}
						}
					}

					> img {
						height: 55px;
						margin-left: 10px;
					}
				}

				&::-webkit-scrollbar {
					width: 22px;
				}

				&::-webkit-scrollbar-track {
					width: 6px;
					background-color: #f1f4ff;
					border-radius: 50vh;
					border: #fff 7px solid;
				}

				&::-webkit-scrollbar-thumb {
					width: 10px;
					background-color: #436ae5;
					border-radius: 50vh;
					border: 6px solid #fff;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
				}
			}
		}
	}
}
.preTitle {
	font-size: calc(18px / 0.9);
	line-height: calc(23.4px / 0.9);
	font-weight: 700;
	color: #f58d1d;
	text-transform: uppercase;
	display: block;
	@media only screen and (max-width: 1440px) {
		font-size: calc(18px / 0.8);
		line-height: calc(23.4px / 0.8);
	}
	@media only screen and (max-width: 768px) {
		font-size: 10px;
		line-height: 12px;
	}
}
@media only screen and (max-width: 768px) {
	.container {
		display: none;
	}

	.header {
		width: 100%;
		align-items: flex-start;
		text-align: start;
		padding: 0 20px;

		h2 {
			margin-top: 15px;

			br {
				display: none;
			}

			span {
				&::before {
					background-image: none;
				}
			}
		}
	}

	.mapContainer {
		height: 450px;

		.mapSettings {
			display: none;
		}
	}

	.mapSettingsMobile {
		display: block !important;
		width: 100%;
		margin-left: 0;
		padding: 50px 20px;
		padding-right: 10px;

		box-shadow: none;
		border-radius: 0;

		.warehousesWrapper {
			> h3 {
				padding-left: 0;
			}

			.warehouses {
				display: flex;
				flex-direction: column;
				overflow-y: scroll;
				height: 480px;
				padding: 15px 0 0 0;
				gap: 15px;

				.warehouse {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: 24px 14px 24px 24px;
					border: 1px solid #e6e6e6;
					background: #ffffff;
					cursor: pointer;
					border-radius: 25px;

					&.picked {
						border: 2px solid #436ae5;
						box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
					}

					> div {
						display: flex;
						justify-content: space-between;
						gap: 20px;

						.img {
							height: 50px;
							width: 50px;
						}

						.info {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							gap: 15px;

							> h3 {
								font-size: 17px;
							}

							> p {
								font-size: 16px;
								line-height: 20px;
							}
						}
					}

					> img {
						height: 55px;
						margin-left: 10px;
					}
				}

				&::-webkit-scrollbar {
					width: 26px;
				}

				&::-webkit-scrollbar-track {
					width: 6px;
					background-color: #f1f4ff;
					border-radius: 50vh;
					border: #fff 9px solid;
				}

				&::-webkit-scrollbar-thumb {
					width: 10px;
					background-color: #436ae5;
					border-radius: 50vh;
					border: 8px solid #fff;
					border-top: 6px solid #fff;
					border-bottom: 6px solid #fff;
				}
			}
		}
	}
}
