.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 70px;
	padding: 0px;
	margin-top: 140px;
}
.text {
	position: relative;
	width: 100%;
	/* max-width: 625px; */
	max-width: 420px;
	/* padding: 100px 0; */
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.text > h2 {
	width: 450px;
	margin-top: 25px;
}
.text .points {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 40px;
	min-height: 425px;
}
.text .points > div {
	display: flex;
	/* align-items: center; */
	align-items: flex-start;
	gap: 20px;
}
.text .points > div p {
	font-weight: 500;
	margin-top: 0px !important;
}
.text .section_background {
	z-index: -2;
	/* background: #f1f4ff; */
	position: absolute;
	min-height: 790px;
	left: 0%;
	top: 0%;
	bottom: 0%;
	right: 0%;
	margin-right: -420px;
	margin-left: -100vw;
	border-radius: 0 25px 25px 0;
}
.video {
	position: relative;
	width: 100%;
	max-width: 390px;
	height: 652px;
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	/* overflow: hidden; */
	border-radius: 25px;
}
.video > img:nth-child(1) {
	object-fit: cover;
	border-radius: 25px;
}
.video > img:nth-child(2) {
	position: absolute;
	top: 20%;
	left: -15%;
}
@media only screen and (max-width: 768px) {
	.section {
		background: #f1f4ff;
		margin-bottom: 150px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	.container {
		margin-top: 50px;
		flex-direction: column;
		gap: 0;
	}
	.text {
		padding: 50px 0;
		padding-bottom: 0;
	}
	.text > h2 {
		margin-top: 10px;
		width: 100%;
	}
	.text > h2 br {
		display: none;
	}
	.text .points {
		margin-top: 25px;
		gap: 15px;
		min-height: auto;
		margin-bottom: 50px;
	}
	.text .points > div {
		gap: 12px;
	}
	.text .points > div p {
		font-weight: 400;
		font-size: 14px !important;
	}
	.text .points > div img {
		width: 25px;
		height: 25px;
	}
	.text .section_background {
		display: none;
	}
	.video {
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 25px;
		margin-bottom: -100px;
	}
	.video img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.video img:nth-child(2) {
		display: none;
	}
}

.title {
	color: #f58d1d !important;
	text-transform: uppercase !important;
	margin-top: 0px !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
}
