.container {
	display: flex;
	gap: 80px;
	padding: 0px;
	> div {
		width: 100%;
	}

	.images {
		padding: 70px 0;
		position: relative;
		height: 600px;
		max-width: 370px;

		> img {
			&:nth-child(1) {
				border-radius: 25px;
				// width: 100%;
				// height: 100%;
				object-fit: cover;
			}

			&:nth-child(2) {
				transform: scaleX(-1);
				position: absolute;
				top: 35%;
				right: -15%;
			}
		}
	}

	.text {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 450px;

		h4 {
			margin-bottom: 20px;
		}

		h2,
		p {
			white-space: pre-line;
		}

		.points {
			margin-top: 45px;
			display: flex;
			flex-direction: column;
			gap: 25px;

			> div {
				display: flex;
				align-items: center;
				gap: 15px;
				p {
					font-size: 20px;
					line-height: normal;
				}
			}
		}

		.section_background {
			z-index: -2;
			position: absolute;
			// background-color: #f1f4ff;
			width: 100vw;
			margin-left: -275px;
			left: 0%;
			top: 0%;
			right: 0%;
			bottom: 0%;
			border-radius: 25px 0 0 25px;
		}
	}
}
.section {
    margin-top: 140px;
    margin-bottom: 140px;
}
@media only screen and (max-width: 768px) {
    .section {
        background-color: #f1f4ff;
        padding: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
	.container {
		flex-direction: column-reverse;
		align-items: center;
		gap: 0;
		margin-top: 0;
		background: #f1f4ff;
		margin-bottom: 150px;

		.text {
			padding: 50px 0;

			h4 {
				margin-bottom: 10px;
			}

			> h2 {
				width: 95%;

				br {
					display: none;
				}
			}

			.points {
				gap: 15px;
				margin-top: 25px;

				> div {
					gap: 12px;

					p {
						font-size: 14px !important;
						font-weight: 400;
					}

					img {
						width: 25px;
						height: 25px;
					}
				}
			}
		}

		> .images {
			width: 90vw;
			margin-bottom: -100px;
			height: 200px;
			margin-top: 0;
			padding: 0;

			> img {
				object-fit: cover;
				&:nth-child(2) {
					display: none;
				}
			}
		}
	}

	.section_background {
		display: none;
	}
}
