.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 70px;
	/* padding: 100px 24px; */
	padding: 0px;
	margin-top: 140px;

	.background {
		margin-left: 24px;
		border-radius: 25px 0px 0px 25px;
		position: absolute;
		// background: #436ae5;
		width: 100vw;
		top: 0%;
		left: 0%;
		bottom: 0%;
		right: 0%;
		z-index: -1;
	}

	.text {
		// padding-left: 140px;
		h2,
		p {
			// color: #fff;
			white-space: pre-line;
		}

		h4 {
			margin-bottom: 20px;
		}

		.grid {
			margin-top: 45px;
			// display: grid;
			// grid-template-columns: repeat(2, 1fr);
			// grid-template-rows: repeat(7, 1fr);
			// gap: 25px;
			display: flex;
			flex-wrap: wrap;
			gap: 50px;
			row-gap: 30px;

			> div {
				display: flex;
				gap: 15px;
				align-items: center !important;

				p {
					font-size: 20px;
					margin-top: 5px !important;
				}
			}
		}
	}

	.image_container {
		// max-width: 520px;
		// height: 100%;
		position: relative;
		width: 100%;
		height: 468px;
		border-radius: 30px;
		overflow: hidden;

		img {
			// border-radius: 25px;
			// max-height: 70%;
			width: auto;
			position: 50% 50%;
			object-fit: cover;
		}
	}
}

@media only screen and (max-width: 768px) {
	.section {
		background: #436ae5;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	.container {
		flex-direction: column;
		align-items: center;
		gap: 0;
		margin-bottom: 150px;
		padding-top: 50px;
		padding-bottom: 0;

		border-radius: 0 0 25px 25px;

		.text {
			max-width: 100%;
			padding: 0;
			padding-bottom: 50px;
			p,
			h2 {
				color: #fff;
			}

			.grid {
				gap: 10px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(7, 1fr);
				margin-top: 25px;
				max-width: 100%;

				> div {
					width: 100%;
					gap: 10px;

					p {
						font-size: 14px !important;
					}
				}
			}

			h4 {
				margin-bottom: 10px;
			}

			> h2 {
				width: 100%;

				br {
					display: none;
				}
			}
		}

		> .image_container {
			width: 90vw;
			height: 200px;
			margin-top: 0;
			padding: 0;
			overflow: hidden;
			margin-bottom: -100px;

			border-radius: 25px;

			> img {
				max-height: 100%;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	.background {
		display: none;
	}
}
