.header {
	display: flex;
	gap: 100px;
	justify-content: space-between;
}

.search {
	position: relative;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 560px;
	margin-bottom: 20px;

	label {
		color: #47484a;
		font-size: 22px;
		font-weight: 700;
	}

	input {
		border: 1px solid #e6e6e6;
		border-radius: 25px;
	}

	img {
		position: absolute;
		right: 25px;
		bottom: 20px;
	}
}

.grid,
.gridMobile {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	gap: 20px;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 600;
		border-radius: 11px;
		background: #f1f4ff;
		color: #436ae5;
		padding: 10px 0;
		transition:
			background 0.3s ease,
			color 0.3s ease;

		&:hover {
			color: #fff;
			background: #436ae5;
		}
	}
}

.gridMobile,
.seeAll {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.header {
		flex-direction: column;
		gap: 25px;
	}

	.search {
		margin-bottom: 0;

		input {
			border-radius: 10px;
			font-size: 14px;
			padding: 12px 18px;
		}

		label {
			display: none;
		}

		img {
			bottom: 12px;
		}
	}

	.grid {
		display: none;
	}

	.gridMobile {
		display: grid !important;
		margin-top: 25px;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;

		a {
			padding: 12px 0;
		}
	}

	.seeAll {
		align-self: center;
		margin-top: 25px;
		display: flex !important;
		width: 41% !important;
		height: 45px !important;
		font-size: 14px !important;
	}
}
