.popup {
	width: 100%;
	height: 100%;
	padding: 0 24px;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(16, 47, 145, 0.7);
	opacity: 0;
}
.popup.opened {
	pointer-events: all;
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 101;
}
.popup > .content {
	display: flex;
	position: relative;
	border-radius: 30px;
	height: 645px;
	width: 100%;
	max-width: var(--max-width);
	overflow: hidden;
}
.popup > .content .cross {
	position: absolute;
	right: 35px;
	top: 35px;
	cursor: pointer;
}
.popup > .content .image {
	max-width: 410px;
	width: 100%;
	height: auto;
	background-image: url("../../../public/images//getAQuotePopup/image1.webp");
	background-size: cover;
	background-repeat: no-repeat;
	object-position: center right;
}
.popup > .content .form {
	padding: 70px 50px;
	background-color: #fff;
	width: 100%;
}
.popup > .content .form h2 {
	font-size: 32px;
}
.popup > .content .form p {
	margin-top: 17px;
	line-height: 175%;
	color: #616161;
}
.popup > .content .form form {
	margin-top: 27px;
}

.title {
	font-size: 32px;
	font-weight: 700;
	color: #272727;
}

.popup > .content .form form div > div {
	margin-top: 20px;
	width: 100%;
	position: relative;
	border: 1px solid #dedfe0;
	border-radius: 10px;
	display: flex;
	align-items: center;

}

.inptWrapper {
	display: flex;
	gap: 10px;
}

.popup > .content .form form > div:first-child {
	margin-top: 0;
}
.popup > .content .form form > div label {
	pointer-events: none;
	font-style: normal;
	opacity: 0.5;
	position: absolute;
	left: 20px;
	top: 22px;
	transition: 0.3s;
	font-size: 16px;
}
.popup > .content .form form > div input {
	width: 100%;

	z-index: 1;
	font-size: 16px;
	border-radius: 0 !important;
	border: 0;
	height: 65px;
	background-color: rgba(0, 0, 0, 0);
	padding: 20px;
	padding-top: 25px;
}
.popup > .content .form form > div input:focus,
.popup > .content .form form > div input:not(:placeholder-shown),
.popup > .content .form form > div input:focus-within {
	outline: none;
	border: 0;
}
.popup > .content .form form > div input:focus ~ label,
.popup > .content .form form > div input:not(:placeholder-shown) ~ label,
.popup > .content .form form > div input:focus-within ~ label {
	font-size: 15px;
	top: 8px;
	transition: 0.3s;
}
.popup > .content .form form > button {
	margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
	.popup > .content .image {
		width: 30%;
	}
	.popup > .content .form {
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.popup {
		padding: 0 20px;
	}
	.popup > .content .form form > button {
		margin-top: 30px;
		max-height: 50px;
	}

	.popup > .content .form {
		padding-bottom: 0px !important;
	}

	.inptWrapper {
		flex-direction: column;
	}
	.inptWrapper {
		margin-top: 10px;
	}

	.addres {
		flex-flow: row-reverse;
	}

	.addres img {
		margin-left: 0px;
		margin-right: 10px;
	}
	.addres input {
		margin-left: 10px !important;
	}
	.addres label {
		padding-left: 0px !important;
	}

	.inptWrapper div {
		max-height: 50px;
		margin-top: 0px !important;
	}
	.inptWrapper input {
		max-height: 50px;
	}
	.inptWrapper label {
		top: 15px !important;
		font-size: 14px !important;
	}

	.popup > .content {
		flex-direction: column;
		justify-content: space-between;
		width: 100%;

		height: 583px;
	}
	.popup > .content .cross {
		right: 20px;
		top: 20px;
		width: 18px;
		height: 18px;
	}
	.popup > .content .image {
		height: 100%;
		width: 100%;
		max-width: 100%;
		display: none;
		background-position-y: 90%;
	}
	.popup > .content .form {
		padding: 50px 20px;
		height: 100%;
		padding-bottom: 35px;
	}
	.popup > .content .form .formWthPic {
		justify-content: space-between;
		display: flex;
		align-items: center;
	}
	.popup > .content .form .formWthPic img {
		margin-right: 20px;
	}
	.popup > .content .form h2 {
		font-size: 16px;
	}
	.popup > .content .form p {
		margin-top: 5px;
		font-size: 14px !important;
	}
	.popup > .content .form form > div {
		width: 100%;
	}

	.popup > .content .form form > div input:focus ~ label,
	.popup > .content .form form > div input:not(:placeholder-shown) ~ label,
	.popup > .content .form form > div input:focus-within ~ label {
		opacity: 0;
		transition: 0.3s;
	}
}
@media only screen and (max-height: 680px) {
	.popup > .content .image {
		display: none;
	}
}

.addres input {
	padding-left: 10px !important;
}

.addres label {
	padding-left: 40px;
}

.addres img {
	margin-left: 15px;
	width: 35px;
	height: 35px;
}
